<!DOCTYPE html>
{% load static %}
{% load index1 %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Bootstrap News Template - Free HTML Templates" name="keywords">
        <meta content="Bootstrap News Template - Free HTML Templates" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="../../static/news/slick-theme.css" rel="stylesheet">
        <link href="../../static/news/slick.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="../../static/news/style.css"  rel="stylesheet" >
    </head>

    <body>
        <!-- Top Bar Start -->
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="tb-contact">
                            <p><i class="fas fa-envelope"></i>flash24news7@gmail.com</p>
                            <p><i class="fas fa-phone-alt"></i>+91 7463917738</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tb-menu">
                            <a href="{% url 'login' %}">Login</a>
                            <a href="{% url 'register' %}">Register</a>
                            <a href="{% url 'about' %}">About</a>
                            <a href="{% url 'developers' %}">Developers</a>
{#                            <a href="">Privacy</a>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Bar Start -->

        <!-- Logo Start -->
        <div class="brand">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4">
                        <div class="b-logo">
                            <a href={% url 'index' %}>
                                <img src="../../static/news/images/flash.png" alt="Logo" >
                            </a>
                        </div>
                    </div>
                     <div class="col-lg-3 col-md-4">

                        <div class="b-search">
                            <form method="post" action="{% url 'detect' %}">
                             {% csrf_token %}
                            <input type="text" placeholder="Detect Fake News" name="input_text" id="input_text">
                            <button id="button1"><i class="fa fa-search"></i></button>
                            </form>
                            <a href="{% url 'voice_command1' %}"><button id="button2"><i class="fa fa-microphone"></i></button></a>
                        </div>

                     </div>
                </div>
            </div>
        </div>
        <!-- Logo End -->

        <!-- Nav Bar Start -->
        <div class="nav-bar">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed">
                  <a class="navbar-brand" href="{% url 'index' %}">FLASH</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{% url 'index1' %}">WORLD</a>
                        <a class="nav-item nav-link" href="{% url 'index2' %}">INDIA</a>
                        <a class="nav-item nav-link" href="{% url 'index3' %}">SCIENCE</a>
                        <a class="nav-item nav-link" href="{% url 'index4' %}">ECONOMY</a>
                        <a class="nav-item nav-link" href="{% url 'index5' %}">HEALTH</a>
                        <a class="nav-item nav-link" href="{% url 'index6' %}">SPORTS</a>
                        <a class="nav-item nav-link" href="{% url 'index7' %}">ENTERTAINMENT</a>
                        <a class="nav-item nav-link" href="{% url 'for_you' num %}">FOR YOU</a>
                    </div>
                  </div>

                </nav>
            </div>
        </div>
        <br>
        <!-- Nav Bar End -->
        <div class="login-card">
        <form id="msform" action="" method="post">
            {% csrf_token %}
          <fieldset>
           <div class="title-login">Sign Up</div>
            <h3 class="fs-subtitle"></h3>
            <input type="text" name="username" id="username" class="form-control" placeholder="Username" />
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" />
              <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password" />
              <br><div class="signup-text"> Select the categories you like </div><br>
{#<div class="checkbox-style">#}
              <div class="checkbox-style">
              <input type="checkbox" name="category" id="Local" value="local" /><label for="Local">Local</label><br>

              <input type="checkbox" name="category" id="Health" value="health"><label for="Health">Health and Lifestyle</label><br>


              <input type="checkbox" name="category" id="Business" value="business"><label for="Business">Economy and Business</label><br>
              <input type="checkbox" name="category" id="Entertainment" value="entertainment"><label for="Entertainment">Entertainment</label><br>
              <input type="checkbox" name="category" id="Sports" value="sports"><label for="Sports">Sports</label><br>
              <input type="checkbox" name="category" id="World" value="world"><label for="World">World</label><br>
              <input type="checkbox" name="category" id="Technology" value="technology"><label for="Technology">Science and Technology</label><br>
       </div>
              <br>
    <div class="signup-text">Select the news websites you trust</div><br>


<div class="checkbox-style">
              <input type="checkbox" name="newspaper" id="News18" value="NEWS18"><label for="News18">CNN-News18</label><br>

                  <input type="checkbox" name="newspaper" id="Toi" value="Times of India"><label for="Toi">Times of India</label><br>
              <input type="checkbox" name="newspaper" id="NDTV" value="NDTV"><label for="NDTV">The NDTV News</label><br>
              <input type="checkbox" name="newspaper" id="Telegraph" value="Telegraph"><label for="Telegraph">The Telegraph</label><br>
                <br>
              <input type="submit" name="login" class="submit action-button" id="Register" value="Register">
                  </div>
          </fieldset>
        </form>
        </div><br><br><br>
    <!-- Footer Start -->
        <div class="footer">
            <div class="social ">
                <h6 style="color: white">FOLLOW US ON</h6>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-github"></i></a>
                <a href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="footer-menu">
            <div class="container">
                <div class="f-menu">
                    <a href="{% url 'about' %}">About Flash</a>
                    <a href="{% url 'developers' %}">Developers Info</a>
{#                    <a href="">Privacy Policy</a>#}
                </div>
            </div>
        </div>
        </div>

        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="../../static/news/easing.min.js"></script>
        <script src="../../static/news/slick.min.js"></script>

        <!-- Template Javascript -->
        <script src="../../static/news/main.js"></script>

</body>
</html>
